.workscreen {
  padding: 16px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  min-height: calc(100vh - 200px);
}

.workscreen h2 {
  font-size: 28px;
  margin-bottom: 16px;
}

.workscreen div {
  font-size: 16px;
  line-height: 1.5;
}